r_dir_file(cameraserver, firmware_file);
allow cameraserver camera_data_file:dir rw_dir_perms;

allow cameraserver sysfs_camera:dir search;
allow cameraserver sysfs_camera:file rw_file_perms;

allow cameraserver qdisplay_service:service_manager find;
allow cameraserver default_android_service:service_manager find;

