# Ignores attempts to access sysfs. fsck binaries seem to like trying to go
# here, but nothing bad happens if they can't, and they shouldn't be allowed.
dontaudit fsck_untrusted sysfs:file rw_file_perms;
dontaudit fsck_untrusted sysfs_dm:file rw_file_perms;
dontaudit fsck_untrusted sysfs_dm:dir rw_dir_perms;
